<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ReadIntervalMillisec" value="200" />
    <add key="Port" value="COM11" />
    <add key="BaudRate" value="9600" />
    <add key="SlaveId" value="1" />
    <add key="RegStart" value="256" />
  </appSettings>
</configuration>